/* wark sence font */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}

/* header related style  */
header{
   background-color:  rgba(255, 144, 14, 0.10);
   padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
   display: flex;
   
   align-items: center;

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}
nav li a{
    text-decoration: none; 
    color: #424242;
}
.nav-taitle{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
/* bannar style */
.banner img{
    margin-top: 40px;
    width: 100%;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-titel{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}
.banner-discription{
    font-size: 16px;
    font-weight: 400;
}
.btn-primary{
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    background-color:#FF900E;
    padding: 20px 25px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: 0;}


/* main section styles */
main{
    max-width:1440px;
    margin: 70px auto;
}
.team-img-container{
    display: flex;
    align-items: center;
}
.team-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 24px;
}
.text-container{
    padding-left: 70px;
    padding-right:70px ;
}
.container{
    font-size: 45px;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.of-our{
    font-weight: 700;
    color: #131313;
}
.feature{
    font-weight: 700;
    color: #FF900E;;
}
.text-praimary{
    font-size: 16px;
    font-weight: 400;
}
.ttn-primary{
    
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    background-color:#FF900E;
    padding: 20px 25px;
    color: #fff;
    cursor: pointer;
    border: 0;
}
/* feature content */
.feature-content{
    margin-top: 130px;
    display: flex;
    gap: 120px;
}
.feature-heading{
    
    font-size: 16px;
    font-weight: 400;
}
.feature-content .card-text{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #FFF;
    
    box-shadow: 0px 4px 30px 0px ;
}
.feature-content .card{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    font-size: 45px;
    font-weight: 700;
}
  .yers{
    border-radius: 8px;
    background: #FF900E; 
    width:300px;
    color: #FFF;
    padding: 30px;
    text-align: center;
  }
  .yers h2{
    font-size: 65px;
    font-weight: 700;
    line-height: 70px; 
  }
  .yers h2 p{
    font-size: 25px;
  }

  /* facts style */
  .header-taitle{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .facts p{
    font-size: 16px;
    font-weight: 400
  }
  .facts-container .card {
    border: 2px solid #FF900E;
    border-radius: 8px;
    padding: 60px 50px;
  }
  .facts-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .facts-container .card-stats{
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .facts-container .card-title{
    font-size: 20px;
    font-weight: 600;
    
  }
   /* Our Sponspors style */
   .sponspors{
    text-align: center;
   }

  .sponspors-img{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    gap: 40px;
  }
  .sponsors-text{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .ponspors-img img{
    width: 165px;
  }

footer{
    height: 100px;
    border-radius: 5px;
    padding-top: 50px;
    border: 1px solid #FFF4E7;
    text-align: center;
    background-color: #FFF4E7;
    font-size: 20px;
    font-weight: 400;
}








/* midia quary mobile phone */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
     .team-img-container, .facts-container,
     .sponspors-img, .facts-container{
        flex-direction: column;
    }
    .facts-container{
      gap: 10px;
    }
    .team-container{
        grid-template-columns: 1fr;
    }
    
}

/* midium divice */
@media screen and (min-width:576px) and (max-width: 960px) {
    
    nav, .text-container{
        flex-direction: column;
    }
    
    header{
        padding: 50px;
}

}